*{
	margin:0;
	padding:0;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    
    background-color: #f8f8f8;
}


#wrapper {
    width: 100%;
    overflow-x:hidden;


}

#page-wrapper {
    padding: 10px 0px 36px 223px;
    min-height: 700px;
    background-color: #fff;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
    margin: 0 0 0 200px;
    padding: 60px 16px;
    border-left: 1px solid #e7e7e7;
      
       /* padding: 64px 4px 0px 226px;*/
        border-left: 1px solid red;
    }
}
