@primarycolor: #FF7F50;
@secondaryColor:#0f0101;
@back-width:600px;
@color:#800080;
.customheader h1{
color: @primarycolor;
background-color:@secondaryColor;
text-transform:capitalize;
width:@back-width;
}
